.cardblock{
    width: 845px;
    height: auto;
    display:flex;
    flex-direction: column;

    gap: 0px;
    padding-bottom: 80px;
}
.cover{
    width: 845px;
    height: 450px;
    border-radius: 8px;
    margin-bottom: 40px;
}
.profile{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.profimg{
    width: 3.75rem;
    /* padding-left: 100px; */
}

.btn{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    position: relative;
    top: 4px;
}
#Book:hover{
    scale: 1.1;
}